*{
    margin: 0;
    padding: 0;
}



.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 99vw;
    height: 90vh;
    flex-direction: row;
    border: 1px solid blue;
    justify-content: space-around;
    align-items: center;

}

.container div{
    width: 150px;
    height: 150px;
    border: 1px solid white;
    text-align: center;
}

.a{
background-color: orange;
    }

.b{
    background-color: blue;
}