*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    align-items: center;
}

img {
    max-height: 20%;
    max-width: 20%;
    object-fit: contain;
}

.menorah{
    width: 100%;
    height: 100%;
}